// colors
$darkOrange: #E57D1B;
$lightGrey: #F2F2F2;
$darkGrey: #5B5B5B;
$lightBlue: #29A9EF;
$blue: #337ab7;
$darkBlue: #2E3234;
$darkRed: #CB0606;
$lightGreen: #00B16A;
$purple: #8E44AD;

$colorPrimary: $lightGreen;
$colorSecondary: $lightGrey;
$colorTernary: $darkOrange;

$colorFooter: $darkBlue;
$colorLink: $lightBlue;
$colorBackground: #EEE;
$colorBodyFont: black;

// fonts
$fontFamily: 'Source Sans Pro', sans-serif;
$fontLight: 300;
$fontRegular: normal;
$fontSemiBold: 600;
$fontBold: bold;

$topNavHeight: 60px;
$sideNavWidth: 320px;

$z-index-0: 20;
$z-index-1: 15;
$z-index-2: 14;
